//
// Variables
// --------------------------------------------------

// Type
// --------------------------------------------------

// Try to use the system's font on whatever platform the user is on.
$font-family-default: system, -apple-system, ".SFNSDisplay-Regular", "Helvetica Neue", Helvetica, "Segoe UI", sans-serif !default;
$font-size-default: 13px !default;
$font-weight: 500 !default;
$font-weight-bold: 700 !default;
$font-weight-light: 300 !default;
$line-height-default: 1.6 !default;


// Colors
// --------------------------------------------------

// Main colors
$primary-color: #3b99fc !default;
$chrome-color:  #fff !default;

// Copy
$gray-color: #333 !default;

// Borders
$border-color: #ddd !default;
$dark-border-color: #c2c0c2 !default;
$darker-bottom-border-color: #a19fa1 !default;
$toolbar-border-color: #939293 !default;

// Action colors
$default-color:  #fff !default;
$positive-color: #34c84a !default;
$negative-color: #fc605b !default;
$warning-color: #fdbc40 !default;

// Shades
$dark-color: #57acf5 !default;

// Focus and active colors
$active-color: #116cd6;
$focus-input-color: lighten($primary-color, 10%)  !default;
$selected-color: #dcdfe1;

// Other
// --------------------------------------------------

// Border radius
$default-border-radius: 4px;

// Padding
$padding: 10px;
$padding-mini: 3px;
$padding-less: 5px;
$padding-more: 20px;
