<article>
  <header><h2>Combined Example</h2></header>
  <section class="photon">

    <section>
      <header>
        <div class="buttonGroup pull-right">
          <button><i class="fas fa-window-close"></i></button>
          <button><i class="fas fa-window-maximize"></i></button>
          <button><i class="fas fa-window-minimize"></i></button>
        </div>
        <h3><i class="fab fa-html5"></i> Title</h3>
        <h4>Subtitle <i class="fab fa-html5"></i></h4>
        <div>

          <div class="buttonGroup">
            <button><i class="fab fa-html5"></i></button>
            <button class="active">Test</button>
            <button><i class="fab fa-html5"></i></button>
          </div>

          <button><i class="fab fa-html5"></i> Filters</button>

          <button class="btn-dropdown pull-right">Another Test <i class="fab fa-html5"></i></button>

        </div>
      </header>
      <article>

        <div class="tabGroup">
          <div>
            <i class="fab fa-html5"></i>
            Tab
          </div>
          <div class="active">
            <i class="fab fa-html5"></i>
            Tab active
          </div>
          <div>
            <i class="fab fa-html5"></i>
            Tab
          </div>
          <div class="fixed">
            <i class="fab fa-html5"></i>
          </div>
        </div>

        <div style="display: flex">
          <nav style="flex: 0 0 150px">
            <h5>Favorites</h5>
            <a class="active">
              <i class="fab fa-html5"></i> connors
            </a>
            <span>
              <i class="fab fa-html5"></i> Downloads
            </span>
            <span>
              <i class="fab fa-html5"></i> Documents
            </span>
            <span>
              <i class="fab fa-html5"></i> AirPlay
            </span>
            <span>
              <i class="fab fa-html5"></i> Applications
            </span>
            <span>
              <i class="fab fa-html5"></i> Desktop
            </span>
            <span>
              <i class="fab fa-html5"></i> Applications
            </span>
            <span>
              <i class="fab fa-html5"></i> Desktop
            </span>
          </nav>

          <div style="flex: 1 1 auto">
            Teststsdfs
          </div>

        </div>

      </article>
      <footer>
      </footer>
    </section>

  </section>
</article>
