<article>
  <header><h2>Buttons</h2></header>
  <section class="photon">

    <div class="buttonGroup">
      <button>Group</button>
      <button class="active">Group</button>
      <button>Group</button>
    </div>

    <button class=""><i class="fab fa-html5"></i> Default</button>
    <button class="active"><i class="fab fa-html5"></i> Active</button>
    <button class="primary"><i class="fab fa-html5"></i> Primary</button>
    <button class="positive"><i class="fab fa-html5"></i> Positive</button>
    <button class="negative"><i class="fab fa-html5"></i> Negative</button>
    <button class="warning"><i class="fab fa-html5"></i> Warning</button>


  </section>
</article>
