<article>
  <header><h2>Forms</h2></header>
  <section class="photon">

    <form>
      <div class="formGroup">
        <label for="formMail">Email address</label>
        <input id="formMail" type="email" placeholder="Email">
      </div>
      <div class="formGroup">
        <label for="formPass">Password</label>
        <input id="formPass" type="password" placeholder="Password">
      </div>
      <div class="formGroup">
        <label for="formDescription">Description</label>
        <textarea id="formDescription" rows="3"></textarea>
      </div>

      <div class="formGroup">
        <label for="formSelection">Selection</label>
        <select id="formSelection">
          <option>Option one</option>
          <option>Option two</option>
          <option>Option three</option>
          <option>Option four</option>
          <option>Option five</option>
          <option>Option six</option>
          <option>Option seven</option>
          <option>Option eight</option>
        </select>
      </div>

      <div class="formGroup">
        <label>
          <input type="checkbox"> This is a checkbox
        </label>
        <label>
          <input type="checkbox"> This is a checkbox too
        </label>
      </div>

      <div class="formGroup">
        <label>
          <input type="radio" name="radios" checked> Keep your options open
        </label>
        <label>
          <input type="radio" name="radios"> Be sure to remember to check for unknown unknowns
        </label>
      </div>

      <div>
        <button type="submit">Cancel</button>
        <button type="submit" class="primary">OK</button>
      </div>

    </form>

  </section>
</article>
