<article>
  <header><h2>Images</h2></header>
  <section class="photon">

    <div>
      <img class="rounded" src="invalid.png" width="128" height="128">
      <img class="rounded" src="invalid.png" width="64" height="64">
      <img class="rounded" src="invalid.png" width="32" height="32">
    </div>

    <div>
      <img class="circle" src="invalid.png" width="128" height="128">
      <img class="circle" src="invalid.png" width="64" height="64">
      <img class="circle" src="invalid.png" width="32" height="32">
    </div>

  </section>
</article>
