<article>
  <header><h2>Lists</h2></header>
  <section class="photon">

    <ul class="mediaList">

      <li class="header">
        <input class="form-control" type="text" placeholder="Search for someone">
      </li>

      <li class="item">
        <img class="circle media-object pull-left" src="invalid.jpg" width="32" height="32">
        <div class="media-body">
          <strong>List item title</strong>
          <p>Lorem ipsum dolor sit amet.</p>
        </div>
      </li>

      <li class="item">
        <img class="circle media-object pull-left" src="invalid.png" width="32" height="32">
        <div class="media-body">
          <strong>List item title</strong>
          <p>Lorem ipsum dolor sit amet.</p>
        </div>
      </li>

      <li class="item active">
        <img class="circle media-object pull-left" src="invalid.jpg" width="32" height="32">
        <div class="media-body">
          <strong>List item title</strong>
          <p>Lorem ipsum dolor sit amet.</p>
        </div>
      </li>

      <li class="item">
        <img class="circle media-object pull-left" src="invalid.png" width="32" height="32">
        <div class="media-body">
          <strong>List item title</strong>
          <p>Lorem ipsum dolor sit amet.</p>
        </div>
      </li>

    </ul>

  </section>
</article>
