<article>
  <header><h2>Navs</h2></header>
  <section class="photon">

    <nav>
      <h5>Favorites</h5>
      <a class="active">
        <i class="fab fa-html5"></i> connors
      </a>
      <span>
        <i class="fab fa-html5"></i> Downloads
      </span>
      <span>
        <i class="fab fa-html5"></i> Documents
      </span>
      <span>
        <i class="fab fa-html5"></i> AirPlay
      </span>
      <span>
        <i class="fab fa-html5"></i> Applications
      </span>
      <span>
        <i class="fab fa-html5"></i> Desktop
      </span>
      <span>
        <i class="fab fa-html5"></i> Applications
      </span>
      <span>
        <i class="fab fa-html5"></i> Desktop
      </span>
    </nav>

  </section>
</article>
