<article>
  <header><h2>Tables</h2></header>
  <section class="photon">

    <table class="striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Kind</th>
          <th>File Size</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>photon.css</td>
          <td>CSS</td>
          <td>28K</td>
        </tr>
        <tr>
          <td>photon.css</td>
          <td>CSS</td>
          <td>28K</td>
        </tr>
        <tr>
          <td>photon.css</td>
          <td>CSS</td>
          <td>28K</td>
        </tr>
        <tr class="active">
          <td>photon.css</td>
          <td>CSS</td>
          <td>28K</td>
        </tr>
        <tr class="active">
          <td>photon.css</td>
          <td>CSS</td>
          <td>28K</td>
        </tr>
        <tr>
          <td>photon.css</td>
          <td>CSS</td>
          <td>28K</td>
        </tr>
      </tbody>
    </table>

  </section>
</article>
