<article>
  <header><h2>Tabs</h2></header>
  <section class="photon">

    <div class="tabGroup">
      <div>
        <i class="fab fa-html5"></i>
        Tab
      </div>
      <div class="active">
        <i class="fab fa-html5"></i>
        Tab active
      </div>
      <div>
        <i class="fab fa-html5"></i>
        Tab
      </div>
      <div class="fixed">
        <i class="fab fa-html5"></i>
      </div>
    </div>

  </section>
</article>
