<article>
  <header><h2>Windows</h2></header>
  <section class="photon">

    <section>
      <header>
        <h3>Title</h3>
      </header>
      <article>
        Content
      </article>
      <footer>
      </footer>
    </section>

  </section>
</article>
