//
// Buttons
//
%buttonBase {
  display: inline-block;
  padding: 3px 8px;
  margin-bottom: 0;
  line-height: 1.4;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-image: none;
  border: 1px solid transparent;
  border-radius: $default-border-radius;
  box-shadow: 0 1px 1px rgba(0,0,0,.06);
  cursor: pointer;

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

%buttonDefault {
  @extend %buttonBase;
  color: $gray-color;
  border-top-color: $dark-border-color;
  border-right-color: $dark-border-color;
  border-bottom-color: $darker-bottom-border-color;
  border-left-color: $dark-border-color;
  @include linear-gradient(#fcfcfc, #f1f1f1);

  &:active {
    background-color: #ddd;
    background-image: none;
  }
}

%buttonSpecial {
  color: #fff;
  text-shadow: 0 1px 1px rgba(0,0,0,.1);
}

%buttonPrimary {
  @extend %buttonBase;
  @extend %buttonSpecial;
  border-color: #388df8;
  border-bottom-color: darken(#388df8, 15%);
  @include linear-gradient(#6eb4f7, #1a82fb);

  &:active {
    @include linear-gradient(darken(#6eb4f7, 10%), darken(#1a82fb, 10%));
  }
}

%buttonPositive {
  @extend %buttonBase;
  @extend %buttonSpecial;
  border-color: darken($positive-color, 10%);
  border-bottom-color: darken($positive-color, 15%);
  @include linear-gradient(lighten($positive-color, 10%), darken($positive-color, 10%));

  &:active {
    @include linear-gradient($positive-color, darken($positive-color, 15%));
  }
}

%buttonNegative {
  @extend %buttonBase;
  @extend %buttonSpecial;
  border-color: darken($negative-color, 10%);
  border-bottom-color: darken($negative-color, 15%);
  @include linear-gradient(lighten($negative-color, 10%), darken($negative-color, 10%));

  &:active {
    @include linear-gradient($negative-color, darken($negative-color, 15%));
  }
}

%buttonWarning {
  @extend %buttonBase;
  @extend %buttonSpecial;
  border-color: darken($warning-color, 10%);
  border-bottom-color: darken($warning-color, 15%);
  @include linear-gradient(lighten($warning-color, 10%), darken($warning-color, 10%));

  &:active {
    @include linear-gradient($warning-color, darken($warning-color, 15%));
  }
}


.photon button, .ph-button {
  @extend %buttonDefault;
}

.photon button.primary, .ph-button.primary {
  @extend %buttonPrimary;
}

.photon button.positive, .ph-button.positive {
  @extend %buttonPositive;
}

.photon button.negative, .ph-button.negative {
  @extend %buttonNegative;
}

.photon button.warning, .ph-button.warning {
  @extend %buttonWarning;
}

//
// Button States
//

%buttonActive {
  color: #fff;
  border: 1px solid transparent;
  background-color: #6d6c6d;
  background-image: none;
}

.photon button.active, .ph-button.active {
  @extend %buttonActive;
}

//
// Button Groups
//
%buttonGroup {
  display: inline-block;
  vertical-align: middle;
}

%buttonGroupButton {
  float: left;

  // Bring the "active" button to the front
  &:focus,
  &:active {
    z-index: 2;
  }
  &.active {
    z-index: 3;
  }

  &:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  &:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  &:not(:first-child):not(:last-child) {
    border-radius: 0;
  }
}

.photon .buttonGroup, .ph-buttonGroup {
  @extend %buttonGroup;
}

.photon .buttonGroup, .ph-buttonGroup {
  button, .ph-button {
    @extend %buttonGroupButton;
  }
}
