//
// Forms
//
%formLabel {
  display: block;
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

%formInputElement {
  display: inline-block;
  width: 100%;
  padding: $padding-less $padding;
  background-color: $chrome-color;
  border: 1px solid $border-color;
  border-radius: $default-border-radius;
  outline: none;

  &:focus {
    border-color: $focus-input-color;
    box-shadow: 0 0 0 3px $focus-input-color;
  }
}

%formBinaryInput {
  position: relative;
  top: 1px;
  width: auto;
  margin: 0px 4px;
}

%formTextarea {
  height: auto;
}

%formGroup {
  margin-bottom: 10px;
}


.photon label, .ph-label {
  @extend %formLabel;
}

.photon input, .photon select, .photon textarea,
.ph-input, .ph-select, .ph-textarea {
  @extend %formInputElement;
}

.photon input[type="radio"], .photon input[type="checkbox"],
input[type="radio"].ph-input, input[type="checkbox"].ph-input {
  @extend %formBinaryInput;
}

.photon textarea, textarea.ph-input {
  @extend %formTextarea;
}

.photon .formGroup, .ph-formGroup {
  @extend %formGroup;
}
