//
// Images
//

%image {
  -webkit-user-drag: text;

  &.circle {
    border-radius: 50%;
  }

  &.rounded {
    border-radius: $default-border-radius;
  }
}

.photon img, img.ph-img {
  @extend %image;
}
