//
// Lists.scss
//
%mediaList {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;


  * {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .header {
    padding: 10px;
  }

  .item {
    padding: 10px;
    color: #414142;
    border-top: 1px solid $border-color;

    &:first-child {
      border-top: 0;
    }

    &.active {
      background-color: $selected-color;
    }
    &:active {
      color: #fff;
      background-color: $active-color;
    }
  }

  .media-object {
    margin-top: 3px;
  }

  .media-object.pull-left {
    margin-right: 10px
  }

  .media-object.pull-right {
    margin-left: 10px
  }

  .media-body {
    overflow: hidden;
  }
}

.photon .mediaList, .ph-mediaList {
  @extend %mediaList;
}
