//
// Navs.scss
//
%navItem {
  padding: 2px 10px 2px 25px;
  display: block;
  color: $gray-color;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &.active {
    background-color: $selected-color;
  }
  &:active {
    color: #fff;
    background-color: $active-color;
  }
}

%navTitle {
  margin: 0;
  padding: 10px 10px 2px;
  color: lighten($gray-color, 20%);
}

.photon nav, .ph-navGroup {
  > *:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
    @extend %navItem;
  }
  > h1, > h2, > h3, > h4, > h5, > h6 {
    @extend %navTitle;
  }
}
