//
// Table
//
%table {
  width: 100%;
  border: 0;
  border-collapse: separate;
  text-align: left;

  thead {
    background-color: #f5f5f4;
  }

  tbody {
    background-color: #fff;
  }

  &.striped {
    tr:nth-child(even) {
       background-color: #f5f5f4;
    }
    tbody tr:nth-child(even).active {
      background-color: $selected-color !important;
    }
    tbody tr:nth-child(even):active {
      color: #fff;
      background-color: $active-color !important;
    }
  }

  tbody tr.active {
    background-color: $selected-color !important;
  }
  tbody tr:active {
    color: #fff;
    background-color: $active-color !important;
  }

  th {
    border-right: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
  }

  th, td {
    padding: 2px 15px;

    &:last-child {
      border-right: 0;
    }
  }
}

.photon table, table.ph-table {
  @extend %table;
}
