//
// Tabs
//
%tabGroup {
  display: flex;
  border-top: 1px solid #989698;
  border-bottom: 1px solid #989698;
}

%tabItem {
  position: relative;
  flex: 1;
  padding: 3px;
  text-align: center;
  border-left: 1px solid #989698;
  @include linear-gradient(#b8b6b8, #b0aeb0);

  &:first-child {
    border-left: 0;
  }

  &.active {
    @include linear-gradient(#d4d2d4, #cccacc);
  }

  &:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    background-color: rgba(0,0,0,.08);
    opacity: 0;
    transition: opacity .1s linear;
    z-index: 1;
  }

  &:hover:not(.active):after {
    opacity: 1;
  }
}

%tabItemFixed {
  flex: none;
  padding: 3px 10px;
}

.photon .tabGroup, .tabGroup {
  @extend %tabGroup;
}

.photon .tabGroup, .tabGroup {
  div {
    @extend %tabItem;
  }
  div.fixed {
    @extend %tabItemFixed;
  }
}
