//
// Window
//
%window {
  display: flex;
  flex-direction: column;

  box-shadow: 0 0 30px rgba(0,0,0,.1);
  border: 1px solid #bebebe;
  border-radius: 6px;

  background-color: $chrome-color;
}

.photon section, .ph-window {
  @extend %window;
}

//
// Window Content
//
%windowContent {
  flex: 1 1 auto;
  height: 100%;
  overflow: auto;
}

.photon section, .ph-window {
  article, .ph-windowContent {
    @extend %windowContent;
  }
}

.ph-windowContent {
  @extend %windowContent;
}

//
// Header & Footer
//
%bar {
  flex: 0 0 auto;
  min-height: 22px;
  box-shadow: inset 0 1px 0 #f5f4f5;
  @include linear-gradient(#e8e6e8, #d1cfd1);
  @include clearfix;
}

%header {
  @extend %bar;
  border-bottom: 1px solid $dark-border-color;
}

%footer {
  @extend %bar;
  border-top: 1px solid $dark-border-color;
}

.photon header, .ph-header {
  @extend %header;
}

.photon footer, .footer {
  @extend %footer;
}

//
// Header/Footer Content
//
%heading {
  margin: 0;
  text-align: center;
  color: #555;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.photon header, .ph-header, .photon footer, .footer{
  h1, h2, h3, h4, h5, h6 {
    @extend %heading;
  }
}

%toolbar {
  margin: 0;
}

.photon header, .ph-header, .photon footer, .footer{
  div {
    @extend %toolbar;
  }
}
