//
// Base styles
//

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.photon-font {
  font-family: $font-family-default;
}

.photon {
  font-family: $font-family-default;
  font-size: $font-size-default;
  line-height: $line-height-default;
  color: $gray-color;
}

.photon hr, hr.ph-hr {
  margin: 15px 0;
  overflow: hidden;
  background: transparent;
  border: 0;
  border-bottom: 1px solid $border-color;
}

.photon h1, .photon h2, .photon h3, .photon h4, .photon h5, .photon h6,
h1.ph-header, h2.ph-header, h3.ph-header, h4.ph-header, h5.ph-header, h6.ph-header {
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 500;
}

.photon h1, h1.ph-header { font-size: 36px; }
.photon h2, h2.ph-header { font-size: 30px; }
.photon h3, h3.ph-header { font-size: 24px; }
.photon h4, h4.ph-header { font-size: 18px; }
.photon h5, h5.ph-header { font-size: 14px; }
.photon h6, h6.ph-header { font-size: 12px; }
