
section#content {
  display: flex;
}

section#content > nav {
  flex: 0 0 20%;
  max-width: 20%;
  padding: 10px;
}

section#content > nav > div {
  position: fixed;
}

section#content > section {
  flex: 1 1 80%;
  max-width: 80%;
  padding: 10px;
}

section.photon {
  margin-left: 20px;
  margin-right: 20px;
}

section#sourceView {
  position: fixed;
  top: 20px;
  bottom: 20px;
  left: 60px;
  right: 60px;
}

section#sourceView pre {
  margin: 0;
  height: 100%;
  width: 100%;
  padding: 10px;
}
